main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

.image-container {
  display: grid;
  grid-gap: 0rem 1rem;
  justify-items: center;
  width: 100%;
  margin: 0 2rem;
}

.doom-image {
  width: 100%;
  max-width: 30rem;
  margin: 1rem 0;
}

@media (max-width: 480px) {
  main {
    height: 100%; 
  }

  .image-container {
    grid-template-columns: 1fr;
  }

  .doom-image {
    max-width: 38rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .image-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60rem;
  }
}